* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, 
#root {
  width: 100%;
  scroll-behavior: smooth;
}

html{
  background-color: rgb(36, 36, 36);
  color: rgb(243, 243, 243);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}