* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root,html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

html{
  background-color: rgb(35, 35, 35);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes{
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.note{
  height: 10rem;
  width: 20rem;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  background-color: rgb(61, 61, 61);
  color: rgb(224, 155, 25);
}

.noteCreateForm{
  height: 5rem;
  width: 100%;
  padding-inline-end: 10rem;
  background-color: rgb(184, 122, 6);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.noteCreateForm input{
  height: 3rem;
  width: 40%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
}

.noteCreateForm input:focus{
  border: none;
  outline: none;
}

.noteCreateForm button{
  padding-block: 1rem ;
  padding-inline: 2rem;
  border-radius: 1rem;
  border: none;
  font-size: 1rem;
}

.noteCreateForm button:active{
  scale: 0.97;
}