* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body, #root{
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

//nav components
svg{
  color: rgb(240, 238, 238);
}
.show{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 10px;
  &:hover{
    transition: all 0.1s ease-in;
    background-color: rgba(255, 255, 255, 0.159);
  }
}


.home{
  min-height: 100vh;
  display: flex;
  background-color: #0a1114;
}

.nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 4rem;
  padding-block: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  .up{
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
      height: 1.7rem;
    }
  }
  .mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    img{
      width: 2rem;
      border-radius: 50%;
    }
  }
  .down{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

  }
  svg{
      height: 1.5rem;
    }
}

.feed-page{
  width: 50%;
  min-height: 100vh;
  // background: #c74343;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .post{
    // background-color: rgb(80, 37, 37);
    height: 47rem;
    width: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    .user{
      display: flex;
      align-items: center;
      height: 8%;
      width: 100%;
      gap: 1rem;
      padding: 0.8rem;
      .img-wrapper{
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid rgba(255, 0, 0, 0);
        background: conic-gradient( from 40deg,#FA8E21 10%, #F56040 20%, #E1306C 35%, #C13584 50%, #833AB4 65%, #5851DB 80%, #405DE6 90%, #FA8E21) border-box;

        img{
          height: 2rem;
          border-radius: 50%;
        }
      }
      
    }
    .pic-box{
      height: 70%;
      width: 100%;
      background-color: rgb(11, 11, 11);
      border-radius: 3.5px;
      border: 1px solid #262727;

      .pic{
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 2px;
        position: relative;
      }
    }
    
    .feature{
      height: 7%;
      width: 100%;
      display: flex;
      padding-inline: 1rem;

      .left{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: 60%;
        height: 100%;
        .like{
          fill: #E1306C;
        }
      }
      .right{
        display: flex;
        align-items: center;
        justify-content:flex-end;
        height: 100%;
        flex-grow: 1;

      }
    }
    .bottom{
      height: 15%;
      width: 100%;
      display: flex;
      align-items: start;
      padding: 0.8rem;
      p{
        font-size: 1rem;
      }
    }
  }
}

//for createpost
.create-post-page{
  display: flex;
  flex-direction: column;
  background-color: transparent;
  gap: 1rem;
  .form-container{
    height: 43rem;
    width: 45rem;
    background-color: #202328;
    border-radius: 0.5rem 1rem ;
    display: flex;
    align-items: center;
    justify-content: space-between;

    form{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: space-betwee;
      
      .post{
        height: 70%;
        width: 100%;
        gap: 2rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .btn{
          // height: 2rem;
          // width: 10rem;
          padding: 0.6rem 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #405DE6;
          border-radius: 0.5rem;
        }
      }
      .line{
        height: 1px;
        width: 100%;
        background-color: #343434;
      }
      .caption-box{
        height: 22%;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
          padding-inline-end: 1rem;
        input{
          width: 100%;
          background: transparent;
          // background-color: #833AB4;
          color: whitesmoke;
          font-size: 1.1rem;
          align-self: flex-start;
        }
        button{
          align-self: flex-end;
          white-space: nowrap;
        }
      }
    }

  }
  .postbtn{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: #FA8E21;
  }
}

